*
{
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}
nav{
    display: flex;
    justify-content:space-between;
    margin: 50px 200px;
}

.btn-primary{
    height: 64px;
    border-radius: 5px;
}

.text-primary{
    color: chocolate;
}
/* header & navigation Styles */
.nav-title{
    font-weight: 800;
    font-size: 45px
}
nav ul{
    display: flex;
}
nav li{
    list-style: none;
    margin-left: 50px;

